:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Forzamos colores claros */
  color-scheme: light;
  color: #000000;          /* Texto negro */
  background-color: #ffffff; /* Fondo blanco */
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%; /* Asegura que el body ocupe todo el ancho */
}